<%= render 'layouts/header' %>
<h1> this is a list of users </h1>
<% @users = User.all %>
<%= @users.each do |user| %>
  <%= user.first_name %><br/>
  <%= user.last_name %><br/>
  <%= user.employee_id %><br/>
  <%= user.email %><br/>
<% end %>
