<%= render 'layouts/header' %>

<h3><%= link_to "Add New Customer", new_customer_path %>&nbsp;</h3>

<%= form_tag(customers_path, method: :get) do %>
    <%= label_tag "Search by Last Name, Phone Number or Email" %>
    <%= text_field_tag :term, params[:term] %></br>
    <%= submit_tag 'Search' %>
<% end %>

<table class="box">
    <% unless @customers.nil? %>
        <tr>
            <th> First Name </th>&nbsp;
            <th> Last Name </th>&nbsp;
            <th> Phone Number 1 </th>&nbsp;
            <th> Phone Number 2 </th>&nbsp;
            <th> Email </th>&nbsp;
            <th> Edit </th>&nbsp;
            <th> Delete </th>&nbsp;
        <tr>
        <% @customers.each do | cust | %>
        <tr>
            <td><%= cust.first_name %></td>
            <td><%= cust.last_name %></td>
            <td><%= cust.phone_number1 %></td>
            <td><%= cust.phone_number1 %></td>
            <td><%= cust.email %></td>
            <td><%= link_to 'Edit', edit_customer_path(cust) %></td>
            <td><%= link_to 'Delete', {action: "destroy", id: cust.id }, method: :delete %></td>
        </tr>
        <% end %>
    <% else %>
        <% link_to new_customer_path %>
    <% end %>
</table>
