<%= render 'layouts/header' %>

<h3><%= link_to "Add New Customer", new_customer_path %>&nbsp;</h3>

<% unless @customers.nil? %>
    <% @customers.each do | cust | %>
        <%= cust.first_name %>
        <%= cust.last_name %>
        <%= cust.phone_number1 %>
        <%= cust.email %>
    <% end %>
<% else %>
    <% link_to new_customer_path %>
<% end %>

