<%= javascript_include_tag 'create-ro' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<header>
    <%= render 'layouts/header' %>
    <h1> Repair Orders </h1>
</header>

<body>
    <div id="create-ro-button">
        <button class="btn btn-primary">Create New Repair Order</button>
    </div>
    </br>
    <div id="ro-create">
        <%= render 'layouts/repair_order' %>
    </div>
    </br>
    <div id="ro-search">
        <%= render 'layouts/ro_search' %>
    </div>

    <div id="ro-index">
        <%= render 'layouts/ro_index'%>
    </div>
</body>