<%= javascript_include_tag 'create-ro' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<header class="navbar">
    <%= render 'layouts/header' %>
</header>

<body>
 <h1> Repair Orders </h1>
    <div id="create-ro-button">
        <button class="btn btn-primary">Create New Repair Order</button>
    </div>
    </br>
    <div id="ro-create">
        <%= render 'layouts/repair_order' %>
    </div>
    </br>
    <div id="ro-search">
        <%= render 'layouts/ro_search' %>
    </div>

    <div id="ro-index">
        <%= render 'layouts/ro_index'%>
    </div>

    <% unless @repair_order.nil? %>
    <% @repair_order.each do |ro | %>
    <span class="border">
        <div class="card border" style="width: 40rem;">
            <div class="card-block">
                <h4 class="card-title"> 
                    Repair Order Number: <%= ro.id %></br>
                    Tag: <%= ro.window_tag %>
                </h4>
                <p class="card-text"> 
                    Color: <%= ro.color %></br>
                    Year: <%= ro.year %></br>
                    Make: <%= ro.make %></br> 
                    Model: <%= ro.model %></br>
                    Due Date: <%= ro.due_date %></br>
                    Update Time: <%= ro.update_time %></br>
                    <h4><%= link_to "Edit", edit_repair_order_path(ro) %></h4>
                </p>
            </div>
        </div>
    </span>
    <% end %>
<% end %>

</body>

