<%= javascript_include_tag 'create-ro' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<header class="navbar">
    <%= render 'layouts/header' %>
</header>

<body>
 <h1> Repair Orders </h1>
    <div id="create-ro-button">
        <button class="btn btn-primary">Create New Repair Order</button>
    </div>
    </br>
    <div id="ro-create">
        <%= render 'layouts/repair_order' %>
    </div>
    </br>
    <div id="ro-search">
        <%= render 'layouts/ro_search' %>
    </div>

    <div id="ro-index">
        <%= render 'layouts/ro_index'%>
    </div>
    <table class="table">
    <% unless @repair_orders.nil? %>
        <tr>
            <th> Color </th>
            <th> Year </th>
            <th> Make </th>
            <th> Model </th>
            <th> Window Tag </th>
            <th> Tech </th>
            <th> Advisor </th>
            <th> Due Date </th>
            <th> Update Time </th>
            <th> Line Item </th>
            <th> Edit </th>
        </tr>
        
        <% @repair_orders.each do |ro | %>
        <tr>
            <td><%= ro.color %></td>
            <td><%= ro.year %></td>
            <td><%= ro.make %></td>
            <td><%= ro.model %></td>
            <td><%= ro.window_tag %></td>
            <td>Advisor</td>
            <td>Tech</td>
            <td><%= ro.due_date %></td>
            <td><%= ro.update_time %></td>
            <td><%= ro.line["description"] %></td>
            <td id="edit-ro"><%= link_to "Edit", edit_repair_order_path(ro) %><td>
        </tr>
        <% end %>
    <% end %>
    </table>
