<h1> This is the Repair Order home Page </h1>
<%= render 'layouts/header' %>

<h2>
  <% if user_signed_in? %>
    <%= link_to 'Repair Order', ro_home_path %>
    <%= link_to 'Profile Page', edit_user_registration_path %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
  <% end %>
</h2>
