<%= render 'layouts/header' %>
<h1> This is the Repair Order home Page </h1>

<h4> Repair Orders assigned to you </h4>

<li>

    <%= @repair_order.each do |order| %>
      <%= order.window_tag %>
      <%= order.color %>
      <%= order.make %>
  <% end %>
</li>

<h3><%= link_to "Create New Repair Order", ro_home_new_path %>&nbsp;</h3>
