<h1> Edit Vehicle Information </h1>

  <%= form_for @vehicle  do |f| %>
    <%= f.label :VIN, "Full VIN" %>
    <%= f.text_field :VIN,  :required => true %>&nbsp;
      <%= f.label :year %>
      <%= f.text_field :year, :required => true %>&nbsp;

      <%= f.label :make %>
      <%= f.text_field :make, :required => true %>&nbsp;

      <%= f.label :model %>
      <%= f.text_field :model, :required => true %>&nbsp;

      <%= f.label :trim %>
      <%= f.text_field :trim %>&nbsp;

      <%= f.label :color %>
      <%= f.text_field :color,  :required => true %>&nbsp;
      <%= f.label :miles %>
      <%= f.text_field :miles %></br>
      <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Cancel", vehicles_index_path %>
</div>
