<%= javascript_include_tag 'create-vehicle'%>
<header>
    <%= render 'layouts/header' %>
    <h1> Vehicles </h1>
</header>

<body>
    <div id="new_vehicle_button">
        <button class="btn btn-primary"> Add New Vehicle </button>
    </div>

    <div id="new-vehicle-form">
        <%= render 'layouts/new_vehicle'%>
    </div>
    </div>

    <div id="search_vehicle_form">
        <%= render 'layouts/search_vehicle' %>
    </div>

    <table class="box">
        <% unless @vehicles.nil? %>
            <tr>
                <th> VIN </th>&nbsp;
                <th> Make </th>&nbsp;
                <th> Model </th>&nbsp;
                <th> Trim </th>&nbsp;
                <th> Miles </th>&nbsp;
                <th> Color </th>&nbsp;
                <th> Edit </th>&nbsp;
                <th> Delete </th>&nbsp;
            <tr>
            <% @vehicles.each do | veh | %>
            <tr>
                <td><%= veh.VIN %></td>
                <td><%= veh.make %></td>
                <td><%= veh.model %></td>
                <td><%= veh.trim %></td>
                <td><%= veh.miles %></td>
                <td><%= veh.color %></td>
                <td><%= link_to 'Edit', edit_vehicle_path(veh) %></td>
                <td><%= link_to 'Delete', {action: "destroy", id: veh.id }, method: :delete %></td>
            </tr>
            <% end %>
        <% else %>
            <% link_to new_vehicle_path %>
        <% end %>
    </table>
</body>    