<%= render 'layouts/header' %>

<h3><%= link_to "Add New Vehicle", new_vehicle_path %>&nbsp;</h3>


<h3>Search Vehicles </h3>
<%= form_tag(vehicles_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
