<%= render 'layouts/header' %>

<h3><%= link_to "Add New Vehicle", new_vehicle_path %>&nbsp;</h3>

<%= form_tag(vehicles_path, method: :get) do %>
    <%= label_tag "Search by VIN, Make or Model" %>
    <%= text_field_tag :term, params[:term] %></br>
    <%= submit_tag 'Search' %>
<% end %>

<table class="box">
    <% unless @vehicles.nil? %>
        <tr>
            <th> VIN </th>&nbsp;
            <th> Make </th>&nbsp;
            <th> Model </th>&nbsp;
            <th> Trim </th>&nbsp;
            <th> Miles </th>&nbsp;
            <th> Color </th>&nbsp;
            <th> Edit </th>&nbsp;
            <th> Delete </th>&nbsp;
        <tr>
        <% @vehicles.each do | veh | %>
        <tr>
            <td><%= veh.VIN %></td>
            <td><%= veh.make %></td>
            <td><%= veh.model %></td>
            <td><%= veh.trim %></td>
            <td><%= veh.miles %></td>
            <td><%= veh.color %></td>
            <td><%= link_to 'Edit', edit_vehicle_path(veh) %></td>
            <td><%= link_to 'Delete', {action: "destroy", id: veh.id }, method: :delete %></td>
        </tr>
        <% end %>
    <% else %>
        <% link_to new_vehicle_path %>
    <% end %>
</table>
  