    <nav>
      <%= link_to "Home", root_path %>&nbsp;
      <% if user_signed_in? %>
        <%= link_to "Employees", current_user %>&nbsp;
        <%= link_to "Repair Orders", ro_home_path %>&nbsp;
        <%= link_to "Settings", edit_user_path(current_user) %>&nbsp;
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>&nbsp;
      <% else %>
        <%= link_to "Log In", new_user_session_path %>&nbsp;
      <% end %>
    </nav>
  </div>
</header>
