<div class="form-inline align_left mb-3">
  <%= form_for Customer.new do |f| %>
  <div class="form-inline align_left mb-3 ">
    <h5> Customer Information </h5>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name,  :required => true %>

    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, :required => true %>

    <%= f.label :phone_number1, "Primary Phone" %>
    <%= f.text_field :phone_number1, :required => true %>
    </br>
    </br>
    <%= f.label :phone_number2, "Secondary Phone" %>
    <%= f.text_field :phone_number2 %>
  
    <%= f.label :email, "Email" %>
    <%= f.text_field :email,  :required => true %>
    </br>
    </br>
    <%= f.label :email2, "Secondary Email" %>
    <%= f.text_field :email2 %>
    </br>
    </br>
    <%= f.label :street, "Street" %>
    <%= f.text_field :street %>
  
    <%= f.label :city, "City" %>
    <%= f.text_field :city %>

    <%= f.label :state, "State" %>
    <%= f.text_field :state %>

    <%= f.label :zip, "Zip Code" %>
    <%= f.text_field :zip %>
    </br>
    </br>
    <h5> Vehicle Information </h5>
    <%= f.label :vin %>
    <%= f.text_field :vin,  :required => true %>

    <%= f.label :year %>
    <%= f.text_field :year, :required => true %></br>

    <%= f.label :make %>
    <%= f.text_field :make, :required => true %>

    <%= f.label :model %>
    <%= f.text_field :model, :required => true %></br>

    <%= f.label :trim %>
    <%= f.text_field :trim %>&nbsp;

    <%= f.label :color %>
    <%= f.text_field :color,  :required => true %></br>
    <%= f.label :miles %>
    <%= f.text_field :miles %>&nbsp;
    </br>
    </br>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", customers_path%>
  <% end %>
</div>
