<div class="form-inline align_left ">
<%= form_for @repair_order  do |f| %>
    <div class="form-inline align-left mb-3 ">

    <h5> Customer Information </h5>
    <%= f.fields_for :customers do | customer_info |%>
    <%= customer_info.label :first_name, "First Name" %>
    <%= customer_info.text_field :first_name,  :required => true %>&nbsp;

    <%= customer_info.label :last_name %>
    <%= customer_info.text_field :last_name, :required => true %>&nbsp;
    </br>
    <%= customer_info.label :phone_number1 %>
    <%= customer_info.text_field :phone_number1, :required => true %>
   
    <%= customer_info.label :phone_number2 %>
    <%= customer_info.text_field :phone_number2 %>&nbsp;
    </br>
    <%= customer_info.label :email %>
    <%= customer_info.text_field :email,  :required => true %>&nbsp;
    
    <%= customer_info.label :email2 %>
    <%= customer_info.text_field :email2 %>&nbsp;
    </br>
    <%= customer_info.label :street %>
    <%= customer_info.text_field :street %>&nbsp;

    <%= customer_info.label :city %>
    <%= customer_info.text_field :city %>&nbsp;
    </br>
    <%= customer_info.label :state %>
    <%= customer_info.text_field :state %>&nbsp;

    <%= customer_info.label :zip %>
    <%= customer_info.text_field :zip %>&nbsp;
    </br>

    <h5> Vehicle Information </h5>

    <%= f.label :year %>
    <%= f.text_field :year, :required => true %>

    <%= f.label :make %>
    <%= f.text_field :make, :required => true %>
    </br>
    <%= f.label :model %>
    <%= f.text_field :model, :required => true %>

    <%= f.label :trim %>
    <%= f.text_field :trim %>&nbsp;
    </br>
    <%= f.label :color %>
    <%= f.text_field :color,  :required => true %></br>

    <%= f.label :miles %>
    <%= f.text_field :miles %>&nbsp;

    <%= f.label :license_plate %>
    <%= f.text_field :license_plate %>&nbsp;
    <br>
    <%= f.label :line %>
    <%= f.text_area :line, size: '20x10' %>
    
    </br>
    <%= f.submit "Create Repair Order", class: "btn btn-primary" %>
    <% end %>
    <% end %>
    <%= link_to "Cancel", repair_orders_path %>
    </br>
    </div>
